body {
    margin: 0;
    padding: 0;
    color : #444;
    font-size: 12px;
    line-height: 22px;
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    background: url("/i/main-bg.png") repeat scroll left top rgba(0, 0, 0, 0);
    min-width: 800px;
}
.layout {
    margin: 60px 30px 10px;
}
h1 {
    margin: 5px 0;
}
.h2 {
    color: #79af0d;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 10px;
}
.clear {
    clear: both;
}
/* Меню */
.nav ul,
.nav li {
    margin: 0;
    padding: 0;
    list-style: none outside none;
}
/* Шапка */
#hdr-wrap {
    background: none repeat scroll 0 0 #9cdd0f;
    -webkit-box-shadow: 1px 1px 5px #606060;
       -moz-box-shadow: 1px 1px 5px #606060;
            box-shadow: 1px 1px 5px #606060;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
#hdr-wrap #top-nav {
    height: 49px;
    margin: 0 30px;
    /*@todo разобраться нужно ли здесь relative*/
    position: relative;
}
#logo {
    display: inline-block;
    margin-right: 35px;
    padding-top: 7px;
    vertical-align: top;
    line-height: 18px;
}
#logo a {
    color: #fff;
    display: block;
    font-family: "1Isadora M Bold",Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-left: 5px;
    text-decoration: none;
    width: 300px;
}
#logo div {
    color: #fff;
    font-size: 11px;
    font-style: italic;
    font-weight: bold;
    margin-left: 5px;
}
/* Верхнее меню */
#top-menu {
    display: inline-block;
    height: 50px;
}
#top-menu a {
    color: #ffffff;
    display: block;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}
#top-menu > ul > li {
    margin-left: -16px;
    position: relative;
    display: inline;
    float: left;
}
#top-menu > ul > li > a {
    font-size: 15px;
    height: 35px;
    margin-left: 16px;
    margin-right: 16px;
    padding: 10px 15px 4px 10px;
}
#top-menu > ul > li:hover:before,
#top-menu > ul > li.active:before {
    background: url("/i/main-menu-corner-right-opacity.png") no-repeat scroll right 0 transparent;
    content: "";
    height: 50px;
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
}
#top-menu > ul > li:hover:after,
#top-menu > ul > li.active:after {
    background: url("/i/main-menu-corner-left-opacity.png") no-repeat scroll left 0 transparent;
    content: "";
    height: 50px;
    left: 0;
    position: absolute;
    top: 0;
    width: 16px;
}
#top-menu ul li > a:hover,
#top-menu ul li:hover > a,
#top-menu ul li.active > a {
    background-color: rgba(255, 255, 255, 0.5);
}
/* Вложенное меню */
#top-menu > ul ul {
    display: none;
    background: none repeat scroll 0 0 #9cdd0f;
    position: absolute;
    margin-left: 16px;
}
#top-menu > ul ul li a {
    font-size: 14px;
    height: 20px;
    padding: 10px;
}
#top-menu > ul li:hover ul,
#top-menu > ul li ul:hover {
    display: block;
}

/*Search*/
#top-nav-btns {
    display: inline-block;
    float: right;
    margin-top: 3px;
    max-width: 300px;
    position: absolute;
    right: 4px;
    white-space: nowrap;
    z-index: 90;
}

#top-nav-btns .search-btn {
    background: url("/i/searchicon.svg") no-repeat scroll right center #79af0d;
    border: none;
    border-radius: 6px;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.2), 0 1px 3px rgba(0, 0, 0, 0.4) inset;
    cursor: pointer;
    height: 32px;
    margin-top: 5px;
    outline-color: #9cdd0f;
    padding: 0 40px 0 0;
    vertical-align: top;
    width: 0;
}
#top-nav-btns .search-btn:hover {
    background-color: #fff;
}
#top-nav-btns .search-btn.search-focus {
    background-color: #fff;
    color: #282828;
    font-size: 17px;
    padding-left: 5px;
}


.footer {
    margin-top: 20px;
}
#wrap-footer-menu {
    height: 250px;
    background: none repeat scroll 0 0 #fff;
    padding: 10px;
}
#footer-menu {
    margin: 0 30px;
    height: 230px;
}
#footer-menu li {
    padding: 5px;
}
.footer-column {
    height: 230px;
    width: 240px;
    float: left;
}
#wrap-copyright {
    background: none repeat scroll 0 0 #9cdd0f;
    text-align: center;
    color: #fff;
    font-size: 12px;
    padding: 10px 0;
}
.small {
    font-size: 12px;
}
/* Хлебные крошки */
.breadcrumb {
    font-size: 0.9em;
    padding: 0;
    margin: 0;
}
.breadcrumb li {
    display: inline;
}
.breadcrumb li.active {
    font-weight: bold;
}
.breadcrumb li a {
    color: #444444;
    text-decoration: none;
}
.breadcrumb li a:hover {
    color: #79af0d;
}
.small_image_article {
    text-decoration: none;
}
.small_image_article img,
.big_image_article {
    float: left;
    padding: 0 5px 5px 0;
    height: 120px;
}
.big_image_article {
    height: 320px;
    float: right;
}